@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
